@{
    ViewBag.Title = "Bank";
}

<div class="col-sm-12">

    <p>
        @Html.ActionLink("Create New Bank", "Create", "Bank", null, new { @class = "btn btn-lg btn-primary" })
    </p>

    @using Telerik.Web.Mvc.UI

    @( Html.Telerik().Grid<ScopoERP.LC.ViewModel.BankViewModel>()
    .Name("BankGrid")
    .DataKeys(dataKeys => dataKeys.Add(k => k.BankID))
    .DataBinding(dataBinding => dataBinding.Ajax().Select("GetAllBank", "Bank"))
    .Columns(columns =>
    {
        columns.Bound(c => c.BankID).ClientTemplate(
            Html.ActionLink("Edit", "Edit", new { id = "<#= BankID #>" }, new { @class = "t-button" }).ToHtmlString()
        )
        .Width(65).Title("").Filterable(false);

        columns.Bound(c => c.BankName).Width(200);
        columns.Bound(c => c.BankAddress).Width(300);
    })
    .Filterable()
    .Pageable(p => p.PageSize(10))
    .Selectable()
    .Sortable()
    .Scrollable(x => x.Height("auto"))
    )

</div>