<div class="form-group">
    <label class="col-md-6 control-label">Style Capacity:</label>
    <label class="col-md-6 control-label">@ViewBag.StyleCapacity</label>
</div>
<div class="form-group">
    <label class="col-md-6 control-label">Order Quantity:</label>
    <label class="col-md-6 control-label">@ViewBag.OrderQty</label>
</div>
<div class="form-group">
    <label class="col-md-6 control-label">Line Capacity: </label>
    <div class="col-md-6">
        <input class="form-control" type="text" id="LineCapacity" name="LineCapacity" />
    </div>
</div>
<div class="form-group">
    <div class="col-md-12"></div>
    <div class="col-md-12"></div>
    <div class="col-md-12"></div>
    <label class="col-md-6 control-label">Line Quantity: </label>
    <div class="col-md-6">
        <input class="form-control" type="text" id="LineQuantity" name="LineQuantity" />
    </div>
</div>
<div class="form-group">
    <div class="col-md-12"></div>
    <div class="col-md-12"></div>
    <div class="col-md-12"></div>
    <div class="col-md-12">
        <input type="button" id="createProductionPlan" class="btn btn-success btn-block" value="Create Production Plan" />
    </div>
</div>

