@model ScopoERP.Reports.ViewModel.ReportFilteringViewModel

@{
    ViewBag.Title = "Job Summary Report";
}

<div class="col-sm-offset-2 col-sm-8">
    <section class="panel">
        <header class="panel-heading">
            Search Criteria
        </header>
        <div class="panel-body">

            @using (Html.BeginForm("JobSummaryReport", "Report", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.ValidationSummary(true)
                
                <div class="form-group">
                    <label class="col-lg-3 col-sm-3 control-label">Job No</label>
                    <div class="col-lg-6">
                        @Html.DropDownListFor(model => model.JobID, ViewBag.Job as SelectList, "Select a Job", new { @class = "combo-box" })
                        @Html.ValidationMessageFor(model => model.JobID)
                    </div>
                </div>

                <hr />
                
                <div class="form-group">
                    <div class="col-lg-offset-6 col-lg-3">
                        <input type="reset" class="btn btn-block btn-default" />
                    </div>
                    <div class="col-lg-3">
                        <input type="submit" class="btn btn-block btn-primary" value="Preview" />
                    </div>
                </div>
            }

        </div>
    </section>
</div>



