@model ScopoERP.Reports.ViewModel.ReportFilteringViewModel

@{
    ViewBag.Title = "Purchase Requisition Report";
}

<div class="col-sm-offset-3 col-sm-6">
    <section class="panel">
        <header class="panel-heading">
            Search Criteria
        </header>
        <div class="panel-body">

            @using (Html.BeginForm("PurchaseRequisitionReport", "Report", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.ValidationSummary(true)

                <div class="form-group">
                    <label class="col-xs-3 control-label">Requisition No</label>
                    <div class="col-xs-9">
                        @Html.DropDownListFor(model => model.PurchaseRequisitionID, ViewBag.purchaseRequisitionList as SelectList, "Select a Requisition No", new { @class = "combo-box" })
                        @Html.ValidationMessageFor(model => model.PurchaseRequisitionID)
                    </div>
                </div>

                <hr />

                <div class="form-group">
                    <div class="col-xs-offset-4 col-xs-4">
                        <input type="reset" class="btn btn-block btn-default" />
                    </div>
                    <div class="col-xs-4">
                        <input type="submit" class="btn btn-block btn-primary" value="Preview" />
                    </div>
                </div>
            }

        </div>
    </section>
</div>