@{
    ViewBag.Title = "Machine Category";
}

<div class="col-sm-12">

    <p>
        @Html.ActionLink("Create New Machine Category", "Create", "MachineCategory", null, new { @class = "btn btn-lg btn-primary" })
    </p>

    @using Telerik.Web.Mvc.UI

    @( Html.Telerik().Grid<ScopoERP.Production.ViewModel.MachineCategoryViewModel>()
        .Name("MachineCategoryGrid")
        .DataKeys(dataKeys => dataKeys.Add(k => k.MachineCategoryID))
        .DataBinding(dataBinding => dataBinding.Ajax().Select("GetAllMachineCategory", "MachineCategory"))
        .Columns(columns =>
        {
            columns.Bound(c => c.MachineCategoryID).ClientTemplate(
                Html.ActionLink("Edit", "Edit", new { id = "<#= MachineCategoryID #>" }, new { @class = "t-button" }).ToHtmlString()
            )
            .Width(50).Title("").Filterable(false);

            columns.Bound(c => c.Name).Width(300);
        })
        .ColumnContextMenu()
        .Resizable(r => r.Columns(true))
        .Reorderable(r => r.Columns(true))
        .KeyboardNavigation()
        .Filterable()
        .Pageable(p => p.PageSize(10))
        .Selectable()
        .Sortable()
    )

</div>