@model ScopoERP.Models.LogOnModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<div class="login-box">
    <div class="login-box-body">
        @using (Html.BeginForm("LogOn", "Account", FormMethod.Post, new { @class = "form-signin", @id = "login" }))
        {
            <input name="returnUrl" type="hidden" value="@ViewBag.ReturnUrl" />

            <div class="form-group row">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Username", @autofocus = "", @required = "" })
            </div>
            <div class="form-group row">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @required = "" })
            </div>
            <div class="form-group row">
                <button type="submit" class="btn btn-success btn-block">Sign In</button>
            </div>
        }
    </div>
</div>

<style>
    .login-box-body, .register-box-body {
        padding: 50px 50px 20px 50px !important;
        background-color: #FFF;
    }
</style>
