<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <title>@ViewBag.Title</title>
    <!--Core CSS -->
    <link href="~/Content/Template/bs3/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Template/css/bootstrap-reset.css" rel="stylesheet" />
    <link href="~/Content/Template/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Content/Template/css/style.css" rel="stylesheet" />
    <link href="~/Content/Template/css/style-responsive.css" rel="stylesheet" />
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]>
    <script src="~/Content/Template/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login-body">
    <div class="container">
        @RenderBody()
    </div>

    <!-- Placed js at the end of the document so the pages load faster -->
    <!--Core js-->
    <script src="~/Content/Template/js/jquery.js"></script>
    <script src="~/Content/Template/bs3/js/bootstrap.min.js"></script>
</body>
</html>
