@*<div class="horizontal-menu navbar-collapse collapse ">
    <ul class="nav navbar-nav">
        <li><a href="#">Purchase Order</a></li>
        <li><a href="#">Costsheet</a></li>
        <li><a href="#">Booking</a></li>
    </ul>
</div>*@
