@model IEnumerable<ScopoERP.Accounts.ViewModel.ChartOfAccountViewModel>
@{
    ViewBag.Title = "Chart Of Accounts";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-2">
                        @Html.ActionLink("Add New Accounts", "Create", "ChartOfAccounts", null, new { @class = "btn btn-success btn-block waves-effect waves-light" })
                    </div>
                    <div class="col-md-2 pull-right">
                        <button type="button" class="btn btn-primary btn-block waves-effect waves-light pull-right download">Excel Download</button>
                    </div>
                </div>

                <div class="form-group">
                    <table class="table table-bordered table-striped" id="ChartOfAccountsTable">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Account No</th>
                                <th>Account Name</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <a href="/Misc/ChartOfAccounts/Edit/@item.ChartOfAccountID" class="btn btn-primary waves-effect waves-light">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    </td>
                                    <td>@item.AccountNo</td>
                                    <td>@item.AccountName</td>
                                   
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $(".download").click(function () {
            //alasql('SELECT AccountNo, BudgetAmount INTO XLSX("' + new Date().toLocaleDateString() + ' BudgetData.xlsx",{sheetid:"Data", headers:true}) FROM HTML("#budgetTable",{headers:true})');
            alasql('SELECT * INTO XLSX("' + new Date().toLocaleDateString() + ' ChartOfAccounts.xlsx",{headers:true}) \
                    FROM HTML("#ChartOfAccountsTable",{headers:true})')
        });

        });

</script>