@model ScopoERP.Reports.ViewModel.ReportFilteringViewModel
@{
    ViewBag.Title = "BillOfEntryReport";
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        @using (Html.BeginForm("GetBillOfEntryReport", "Report", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="card">
                <div class="card-body">
                    @Html.ValidationSummary(true)

                    <div class="form-group row">
                        <label class="col-lg-4">Job No</label>
                        <div class="col-lg-8">
                            @Html.DropDownListFor(model => model.JobID, ViewBag.JobList as SelectList, "Select a Job", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.JobID)
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <div class="pull-right">
                        <button class="btn btn-dark" type="button"><i class="fa fa-close "></i> Reset</button>
                        <button class="btn btn-success" type="submit"><i class="fa fa-save "></i> Preview</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

