@{
    ViewBag.Title = "Raw Material Req";
}

<div class="row" ng-app="scopoApp" ng-controller="rawMaterialReqCtrl" ng-init="init()" novalidate ng-cloak>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <select class="form-control select2" ng-model="selectedIssue" ng-change="issueSelected(selectedIssue)" allow-clear="true">
                            <option value="">Select Issue</option>
                            <option ng-repeat="s in issues" value="{{s}}">{{s.Text}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <form name="rawMaterialReqForm" class="form-horizontal" ng-submit="saveRawMaterialReq()">
            <div print-section class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-10">
                            <h3 class="card-title">Raw Material Req</h3>
                        </div>
                        <div print-hide class="col-md-2">
                            <button type="button" ng-click="newSR()" class="pull-right btn btn-sm btn-primary">
                                <i class="fa fa-file-text-o"></i>
                            New</button>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <label class="col-md-2">Serial No</label>
                        <div class="col-md-4">
                            <input type="text" placeholder="Serial No" class="form-control" ng-model="srVM.SRNo" disabled />
                        </div>
                        <label class="col-md-2">Date</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control datepicker"
                                   ng-model="srVM.IssuedDate" is-open="dt.issueDate" datepicker-options="dateOptions" close-text="Close"
                                   required placeholder="" />
                        </div>

                    </div>
                    <br />
                    <div class="row">
                        <label class="col-md-2">Receiver Name</label>
                        <div class="col-md-4">
                            <input type="text" placeholder="Receiver Name" class="form-control" ng-model="srVM.ReceiverName" required />
                        </div>

                        <label class="col-md-2">Floor Line</label>
                        <div class="col-md-4">
                            <select ng-options="floorLine.ProductionFloorID as ('Floor: '+floorLine.Floor+'------Line: '+floorLine.Line) for floorLine in floorLineList"
                                    ng-model="srVM.FloorLineID" class="form-control select2" required>
                                <option value="{{srVM.FloorLineID}}" selected="selected" >Select Floor Line</option>
                            </select>
                        </div>
                    </div>
                    <br />
                    <div class="row">

                        <label class="col-md-offset-6 col-md-2">Remarks</label>
                        <div class="col-md-4">
                            <input type="text" placeholder="Remarks" class="form-control" ng-model="srVM.Remarks" />
                        </div>
                    </div>
                    <br />
                    <div class="table-responsive">
                        <table class="table table-bordered table-condensed table-fixed-header no-wrap">
                            <thead>
                                <tr>
                                    <th print-hide>#</th>
                                    <th>PO</th>
                                    <th>Item</th>
                                    <th>Requested Qty</th>
                                    <th print-hide></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="issue in srVM.Inventories track by $id($index)">
                                    <td print-hide>
                                        <button class="btn btn-sm btn-flat btn-danger" type="button" ng-click="removeRow($index)">
                                            <i class="fa fa-trash-o"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <select ng-options="po.Value as po.Text for po in poList" 
                                                ng-model="issue.PoStyleId" class="form-control select2" ng-change="getAllItemByPOID(issue.PoStyleId, {{$index}})" required style="width:100%;">
                                            <option value="{{issue.PoStyleId}}">Select PO</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select ng-options="item.Value as item.Text for item in itemList[{{$index}}]"
                                                ng-model="issue.ItemID" class="form-control select2" required style="width:100%;">
                                            <option value="{{issue.ItemID}}">Select Item</option>
                                        </select>
                                    </td>
                                    <td><input type="number" class="form-control" ng-model="issue.RequestedQuantity" required /></td>

                                    <td print-hide>
                                        <button class="btn btn-sm btn-flat btn-success" type="button" ng-click="addRow()">
                                            <i class="glyphicon glyphicon-plus"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="card-footer">
                    <div class="pull-right">                       
                        <button print-hide type="submit" class="btn btn-success btn-flat btn-sm"><i class="fa fa-save"></i> Save</button>
                        <button print-hide type="button" class="btn btn-primary btn-flat btn-sm" print-btn><i class="fa fa-print"></i> Print</button>
                    </div>
                </div>

            </div>
        </form>
        <div class="form-group">
            
        </div>
    </div>
</div>