@{
    ViewBag.Title = "Division";
}

<div class="col-sm-12">

    <p>
        @Html.ActionLink("Create New Division", "Create", "Division", null, new { @class = "btn btn-lg btn-primary" })
    </p>

    @using Telerik.Web.Mvc.UI

    @( Html.Telerik().Grid<ScopoERP.Common.ViewModel.DivisionViewModel>()
        .Name("DivisionGrid")
        .DataKeys(dataKeys => dataKeys.Add(k => k.DivisionID))
        .DataBinding(dataBinding => dataBinding.Ajax().Select("GetAllDivision", "Division"))
        .Columns(columns =>
        {
            columns.Bound(c => c.DivisionID).ClientTemplate(
                Html.ActionLink("Edit", "Edit", new { id = "<#= DivisionID #>" }, new { @class = "t-button" }).ToHtmlString()
            )
            .Width(50).Title("").Filterable(false);

            columns.Bound(c => c.DivisionName).Width(750);
        })
        .ColumnContextMenu()
        .Resizable(r => r.Columns(true))
        .Reorderable(r => r.Columns(true))
        .KeyboardNavigation()
        .Filterable()
        .Pageable(p => p.PageSize(10))
        .Selectable()
        .Sortable()
    //.HtmlAttributes(new { @style = "width : 90%" })
    )

</div>