@model List<ScopoERP.MaterialManagement.ViewModel.BookingSelectionViewModel>

@using (Html.BeginForm("GetBillOfMaterials", "Bookings", FormMethod.Post))
{
    <div class="panel-body">
        <div class="form-horizontal">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="col-sm-1"></th>
                        <th class="col-sm-2">PO No</th>
                        <th class="col-sm-2">Style No</th>
                        <th class="col-sm-7">Item Description</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td>
                                @Html.CheckBoxFor(model => Model[i].IsChecked, new { @class = "form-control" })
                            </td>
                            <td>
                                @Html.DisplayFor(model => Model[i].PONo)
                            </td>
                            <td>
                                @Html.DisplayFor(model => Model[i].StyleNo)
                            </td>
                            <td>
                                @Html.DisplayFor(model => Model[i].ItemDescription)
                            </td>
                        </tr>
                    }
                    @if (Model.Count > 0)
                    {
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <input type="submit" value="Create Booking" class="btn btn-primary" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
}