@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12" ng-app="scopoApp" ng-controller="realizationCtrl" ng-init="init()">
        <form class="form-horizontal">
            <div class="card">
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-lg-2 col-sm-2 control-label left-label">Account Type</label>
                        <div class="col-lg-2">
                            <select class="form-control select2" ng-model="AccountType">
                                <option></option>
                                <option ng-repeat="item in AccountTypeList" value="{{item.Value}}">
                                    {{item.Text}}
                                </option>
                            </select>
                        </div>

                        <label class="col-lg-2 col-sm-2 control-label">FDBP No</label>
                        <div class="col-lg-2">
                            <select class="form-control select2" ng-model="BankForwardingID" ng-change="getAllRealization()">
                                <option></option>
                                <option ng-repeat="item in FDBPNoList" value="{{item.Value}}">
                                    {{item.Text}}
                                </option>
                            </select>
                        </div>

                        @*<div class="col-lg-3"></div>

                        <div class="col-lg-1">
                            <button type="button" class="btn btn-success">
                                <i class="fa fa-th"></i>
                            </button>
                        </div>*@
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-lg-2 col-sm-2 control-label left-label">Realization Date</label>
                        <div class="col-lg-2">
                            <input type="text" ng-model="RealizationDate"
                                   class="form-control datepicker" />
                        </div>

                        <label class="col-lg-2 control-label">Currency Rate</label>
                        <div class="col-lg-2">
                            <input type="text" ng-model="CurrencyRate" class="form-control" />
                        </div>

                        <label class="col-lg-2 col-sm-2 control-label">Invoice Value</label>
                        <div class="col-lg-2">
                            <input type="text" ng-model="InvoiceValue" class="form-control" readonly />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped condensed">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>Account Name</th>
                                        <th>Account No</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in realizationList">
                                        <td><center>{{$index + 1}}</center></td>
                                        <td>{{item.AccountName}}</td>
                                        <td>{{item.AccountNo}}</td>
                                        <td><input type="text" ng-model="item.Amount" class="form-control" /></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>Balance: {{getBalanceAmount()}}</td>
                                        <td>Total: {{getTotalAmount()}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="form-group row">
                        <div class="col-lg-2">
                            <input type="reset" class="btn btn-block btn-dark" value="Reset" />
                        </div>
                        <div class="col-lg-2">
                            <input type="submit" class="btn btn-block btn-success" ng-click="saveRealization()" value="Save" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>