@model ScopoERP.Common.ViewModel.DivisionViewModel

@{
    ViewBag.Title = "Create Division";
}

<div class="col-sm-offset-3 col-sm-6">
    <section class="panel">
        <header class="panel-heading">
            Create New Division
        </header>
        <div class="panel-body">

            @using (Html.BeginForm("Create", "Division", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.ValidationSummary(true)

                <div class="form-group">
                    <label class="col-lg-4 col-sm-4 control-label">Division Name</label>
                    <div class="col-lg-8">
                        @Html.TextBoxFor(model => model.DivisionName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DivisionName)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-4 col-lg-4">
                        @Html.ActionLink("Cancel", "Index", "Division", null, new { @class = "btn btn-block btn-default" })
                    </div>
                    <div class="col-lg-4">
                        <input type="submit" class="btn btn-block btn-primary" value="Save" />
                    </div>
                </div>
            }

        </div>
    </section>
</div>
