@{
    ViewBag.Title = "Season";
}

<div class="col-sm-12">

    <p>
        @Html.ActionLink("Create New Season", "Create", "Season", null, new { @class = "btn btn-lg btn-primary" })
    </p>

    @using Telerik.Web.Mvc.UI

    @( Html.Telerik().Grid<ScopoERP.Common.ViewModel.SeasonViewModel>()
        .Name("SeasonGrid")
        .DataKeys(dataKeys => dataKeys.Add(k => k.SeasonId))
        .DataBinding(dataBinding => dataBinding.Ajax().Select("GetAllSeason", "Season"))
        .Columns(columns =>
        {
            columns.Bound(c => c.SeasonId).ClientTemplate(
                Html.ActionLink("Edit", "Edit", new { id = "<#= SeasonId #>" }, new { @class = "t-button" }).ToHtmlString()
            )
            .Width(50).Title("").Filterable(false);

            columns.Bound(c => c.SeasonName).Width(750);
        })
        .ColumnContextMenu()
        .Resizable(r => r.Columns(true))
        .Reorderable(r => r.Columns(true))
        .KeyboardNavigation()
        .Filterable()
        .Pageable(p => p.PageSize(10))
        .Selectable()
        .Sortable()
    //.HtmlAttributes(new { @style = "width : 90%" })
    )

</div>